CODE TO EXPLORE AND MAYBE LOOK AT TESTING ACCURACY OF INITIAL DATA FROM SNOWFLAKE MARKETPLACE (FLIPSIDE CRYPTO) FOR POLYGON ONCHAIN DATA

In [15]:
#importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
data = pd.read_csv('initial_raw_data_polygon.csv')
data

,WALLET,TX_PER_MONTH,TOKEN_DIVERSITY,PROTOCOL_DIVERSITY,TOTAL_TRANSFER_USD,INTERACTION_DIVERSITY,ACTIVE_DURATION_DAYS,AVG_TRANSFER_USD,USD_TRANSFER_STDDEV,DEX_EVENTS,...,DAPP_EVENTS,CHADMIN_EVENTS,DEFI_EVENTS,BRIDGE_EVENTS,NFT_EVENTS,TOKEN_EVENTS,FLOTSAM_EVENTS,BRIDGE_OUTFLOW_COUNT,BRIDGE_INFLOW_COUNT,BRIDGE_TOTAL_VOLUME_USD
0,0x429b8474bd7308b7787d364985bb4b8ea7de1d47,253959.166667,2,2,7.771953e+08,1,181,141.784472,1749.322878,0,...,0,0,0,0,0,0,0,0,0,0.00
1,0x52add4435c81a4e0fb2ec494966863e48bf9302e,330836.666667,0,1,0.000000e+00,1,181,0.000000,0.000000,0,...,0,0,0,0,0,0,0,0,0,0.00
2,0xaf645a867403b8c1738f2e49f6921e470930717f,1181.000000,31,6,2.245735e+05,5071,181,1084.896087,3126.903990,0,...,0,0,0,0,0,0,0,0,0,0.00
3,0xe3ae9944f8cc5c76a305601a933af0c36dfa39df,45.333333,1,1,1.415260e+03,1,21,5.203162,1.735684,0,...,0,0,0,272,0,0,0,272,0,1415.26
4,0xc1da33e8d60daf4f93a52357a57a076f44c45759,12407.833333,3,3854,8.254146e+06,2,181,199.602099,1960.687637,0,...,0,0,1,34073,0,7292,0,34062,0,5608232.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0x08e21e45436a0ecc94593d99c5272860e390181f,0.166667,0,1,0.000000e+00,1,0,0.000000,0.000000,0,...,0,0,0,0,0,0,0,0,0,0.00
49996,0xa386cd81bccdf634af0b347a04708e28bbc5afd3,0.166667,0,1,0.000000e+00,1,0,0.000000,0.000000,0,...,0,0,0,0,0,0,0,0,0,0.00
49997,0x115e5f0cfb1545ec1aef00c63dc19510ab6f74ba,0.166667,0,1,0.000000e+00,1,0,0.000000,0.000000,0,...,0,0,0,0,0,0,0,0,0,0.00
49998,0xa10366db09b04f6d713e41b26f76459e8c7ba066,0.166667,0,1,0.000000e+00,1,0,0.000000,0.000000,0,...,0,0,0,0,0,0,0,0,0,0.00
49999,0xae9930bbc174a9e859c0d3b4069530b61f5b42f6,0.166667,0,1,0.000000e+00,1,0,0.000000,0.000000,0,...,0,0,0,0,0,0,0,0,0,0.00

In [16]:
#EDA of the dataset
for col in data.columns:
    print(f"\n--- Descriptive statistics for column: {col} ---")
    print(data[col].describe())

--- Descriptive statistics for column: WALLET ---
count                                          50000
unique                                         50000
top       0x429b8474bd7308b7787d364985bb4b8ea7de1d47
freq                                               1
Name: WALLET, dtype: object

--- Descriptive statistics for column: TX_PER_MONTH ---
count     50000.000000
mean        344.769023
std        6311.089609
min           0.166667
25%           1.000000
50%           8.333333
75%          24.666667
max      429229.833333
Name: TX_PER_MONTH, dtype: float64

--- Descriptive statistics for column: TOKEN_DIVERSITY ---
count    50000.000000
mean         6.308760
std         38.143845
min          0.000000
25%          0.000000
50%          1.000000
75%          3.000000
max       1631.000000
Name: TOKEN_DIVERSITY, dtype: float64

--- Descriptive statistics for column: PROTOCOL_DIVERSITY ---
count    5.000000e+04
mean     1.225921e+02
std      1.189325e+04
min      0.000000e+00
25%      1.000000e+00
50%      3.000000e+00
75%      7.000000e+00
max      2.528853e+06
Name: PROTOCOL_DIVERSITY, dtype: float64

--- Descriptive statistics for column: TOTAL_TRANSFER_USD ---
count    5.000000e+04
mean     3.985951e+06
std      1.483313e+08
min      0.000000e+00
25%      0.000000e+00
50%      1.500500e+01
75%      1.028988e+03
max      1.650650e+10
Name: TOTAL_TRANSFER_USD, dtype: float64

--- Descriptive statistics for column: INTERACTION_DIVERSITY ---
count     50000.00000
mean         46.07262
std        1301.01978
min           1.00000
25%           1.00000
50%           2.00000
75%           6.00000
max      139134.00000
Name: INTERACTION_DIVERSITY, dtype: float64

--- Descriptive statistics for column: ACTIVE_DURATION_DAYS ---
count    50000.000000
mean        94.497660
std         70.620885
min          0.000000
25%         13.000000
50%         99.000000
75%        166.000000
max        181.000000
Name: ACTIVE_DURATION_DAYS, dtype: float64

--- Descriptive statistics for column: AVG_TRANSFER_USD ---
count    5.000000e+04
mean     5.852262e+02
std      2.343697e+04
min      0.000000e+00
25%      0.000000e+00
50%      8.976738e-01
75%      3.276828e+01
max      4.576239e+06
Name: AVG_TRANSFER_USD, dtype: float64

--- Descriptive statistics for column: USD_TRANSFER_STDDEV ---
count    5.000000e+04
mean     1.867870e+03
std      2.586412e+05
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      2.580366e+01
max      5.775179e+07
Name: USD_TRANSFER_STDDEV, dtype: float64

--- Descriptive statistics for column: DEX_EVENTS ---
count     50000.000000
mean         49.060520
std        1911.331907
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max      299678.000000
Name: DEX_EVENTS, dtype: float64

--- Descriptive statistics for column: GAMES_EVENTS ---
count    50000.000000
mean         8.400660
std        376.838169
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      75591.000000
Name: GAMES_EVENTS, dtype: float64

--- Descriptive statistics for column: CEX_EVENTS ---
count     50000.000000
mean          6.699240
std         574.696983
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max      108249.000000
Name: CEX_EVENTS, dtype: float64

--- Descriptive statistics for column: DAPP_EVENTS ---
count     50000.000000
mean         64.398040
std        3410.052875
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max      229967.000000
Name: DAPP_EVENTS, dtype: float64

--- Descriptive statistics for column: CHADMIN_EVENTS ---
count     50000.000000
mean         48.528880
std        2466.426679
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max      236362.000000
Name: CHADMIN_EVENTS, dtype: float64

--- Descriptive statistics for column: DEFI_EVENTS ---
count     50000.000000
mean         44.240580
std        3644.793982
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max      462505.000000
Name: DEFI_EVENTS, dtype: float64

--- Descriptive statistics for column: BRIDGE_EVENTS ---
count     50000.000000
mean        180.122900
std        5633.529178
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max      806576.000000
Name: BRIDGE_EVENTS, dtype: float64

--- Descriptive statistics for column: NFT_EVENTS ---
count    50000.000000
mean        10.466240
std        322.960788
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      65939.000000
Name: NFT_EVENTS, dtype: float64

--- Descriptive statistics for column: TOKEN_EVENTS ---
count     50000.000000
mean         61.155640
std        4476.294168
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max      878542.000000
Name: TOKEN_EVENTS, dtype: float64

--- Descriptive statistics for column: FLOTSAM_EVENTS ---
count    50000.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: FLOTSAM_EVENTS, dtype: float64

--- Descriptive statistics for column: BRIDGE_OUTFLOW_COUNT ---
count     50000.000000
mean        181.831100
std        5740.994423
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max      806576.000000
Name: BRIDGE_OUTFLOW_COUNT, dtype: float64

--- Descriptive statistics for column: BRIDGE_INFLOW_COUNT ---
count     50000.000000
mean          5.416340
std        1150.483951
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max      256946.000000
Name: BRIDGE_INFLOW_COUNT, dtype: float64

--- Descriptive statistics for column: BRIDGE_TOTAL_VOLUME_USD ---
count    5.000000e+04
mean     8.400117e+04
std      5.743127e+06
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      1.000000e+00
max      8.548362e+08
Name: BRIDGE_TOTAL_VOLUME_USD, dtype: float64

In [18]:
from Source_Code_Package.utils import nan_checker

ModuleNotFoundError: No module named 'Source_Code_Package'